@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode usar um)
    em HTML é class = em CSS é . (pode usar vários)

*/

body {
    background-color: #fff0e0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #E08337;
}
h1#principal {
    color: #363330;
    text-align: center;
}
h2 {
    color: #B67C4C;
}
p {
    color:#B67C4C;
}
.basico {
    color: #363330;
}
.Intermediario {
    color: aquamarine;
}
.avancado {
    color: #7c3800;
}